body {
  display: grid;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

input {
  width: 100%;
  max-width: 800px;
  padding: 2px;
  font-size: 30px;
  text-align: right;
}

button {
  padding: 3px 0;
  margin: 1px;
  width: 58px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 28px;
}

.button-operator {
  background-color: #ffcccc;
  border-color: #ff7e40 #f99 #ff4d53;
}
